#input {
    /* all: unset; */
    border-radius: 0.3125rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background: #fafafa;
    width: 80%;
    height: 2.75rem;
  }
  
  #button {
    all: unset;
  
    text-align: center;
    width: 80%;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #3797ef;
    margin: 15px;
  }
  
  #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  